/*--------------------------------------------------------------
# Archive /Style for archive.php (blog posts by month) and archive-product.php
--------------------------------------------------------------*/

/* Archive by Month  */

.month-archive-area {
  width: 70%;
	padding-right: 2rem;
}

/* Product Archive */

.product-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

    article {
        flex: 1 1 25%;
        border: 1px solid #e1e1e1;
        display: flex;
   }
}

.archive-product-header {
  margin-top: 3rem;
  justify-content: center;
  align-items: center;

     p {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.archive-product-title {
  text-transform: uppercase;
  text-align: center;
}
