/*--------------------------------------------------------------
# Click Through Sections / Style for front-page.php and page-about.php
--------------------------------------------------------------*/

.click-through {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  padding: 1.3rem;
  margin-top: 3rem;

       p {
          width: 100%;
          justify-content: space-around;
          display: flex;
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
      }

      .button  {
        color: #ffffff;
        font-size: 1rem;
      }
}
