/*--------------------------------------------------------------
# Comments / Style for single.php
--------------------------------------------------------------*/

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
  color: $color__med-grey;
	font-size: 1rem;
	font-weight: bold;
}

.comment-form-author label .required,
.comment-form-email label .required {
	color: $color__red-shade;
	font-size: 1.25rem;
	padding-left: 0.1rem;
}

.form-submit input {
	color: #ffffff;
	font-size: 1rem;
}

.comment-form-author,
.comment-form-email {
  float: left;
}

.comment-form-author {
    margin-right: 1rem;
}

.comment-form-url input {
	width: 100%;
}

.comment-form-email label,
.comment-form-email input,
.comment-form-author label,
.comment-form-author input {
	width: 100%;
}

.comments-title,
.comment-metadata {
  color: $color__med-grey;
}

.comment-metadata a {
  	color: $color__red-shade;
}

.comment-list {
  margin-left: 0;
  padding-left: 0;

    li {
      list-style: none;
    }
}

.comment-body {
  display: flex;
  border-bottom: 1px dashed #d2d2d2;
  margin-bottom: 1.25rem;
}

.comment-author-avatar {
  flex: 1 1 12%;

     img {
        border-radius: 50%;
    }
}

.comment-content {
  flex: 1 1 88%;
}

.comment-author {
  font-weight: bold;
  font-style: normal;
}

.reply {
  display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
