/*--------------------------------------------------------------
# Content (Files in Template-Parts Folder that begin with content)
	content-single.php
	content-type.php
--------------------------------------------------------------*/

/* For Single.php (Single Blog Post) Content-Single.php */

.entry-meta {
	color: $color__lightgrey;
}

.entry-footer a,
.entry-meta a {
	color: $color__red-shade;
	text-decoration: none;
}

blockquote {
	border-left: 7px solid $color__red-shade;
	color: $color__med-grey;
	margin-left: 0;
	padding-left: 1.5rem;
}

.cat-links {
	margin-right: 1rem;
}

/* For Taxonomy-Product-Type.php (Archive of Product Type) Content-Type.php */

.product-type-area {
	width: 70%;
	padding-right: 2rem;
}

.product-type-header {
	border-bottom: 1px dashed #d2d2d2;
	margin-bottom: 1.5rem;
}

.indiv-product-type {
	display: flex;
	width: 100%;
	border-bottom: 1px dashed #d2d2d2;
}

.product-type-img {
	width: 25%;
	padding-right: 1.25rem;
}

.product-type-content {
	width: 75%;
	margin-top: 0;

	h2 {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
