/*--------------------------------------------------------------
# Contact Page / page.php
--------------------------------------------------------------*/
/** Page.php used for Contact Page **/

.column-view {
	display: flex;
}

.contact-area {
  width: 70%;
}

.sidebar-area {
  width: 30%;
  border-left: 1px solid #e1e1e1;
}
