/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  background-color: #222222;
  height: 200px;
}

.site-info {
  color: #222222;
}
