/*--------------------------------------------------------------
# Header / Style for header.php
--------------------------------------------------------------*/

.site-header {
  background-color: #fafafa;
  padding-top: 2.25rem;
}

.site-branding {
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 4rem;
}

.social ul {
  background-color: #ffffff;
  display: flex;
  list-style: none;
  color: $color__med-grey;
  align-items: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.social li {
  padding: 1rem;
}

.main-navigation {
  display: flex;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding: 1rem;
  border: 1px solid #e1e1e1;

    a {
      color: $color__med-grey;
      font-weight: bold;

      &:hover {
        color: $color__text-main;
      }
    }
}

.search-form fieldset {
border: none;
}

.search-form input {
  border: none;
}

input::placeholder {
  text-transform: uppercase;
  color: $color__med-grey;
}

.search-submit {
  border: none;
  background-color: #fafafa;
  font-size: 1rem;
  color: $color__med-grey;
}
