/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/** Product Category **/

.product-category-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-category-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.product-category-single {
  width: 25%;
  padding: 1.5rem;
}

.product-category-single img {
  height: 6rem;
  width: 10rem;
}

.product-category-single h3 {
  text-transform: uppercase;
}

.product-category-single a {
  text-decoration: none;
  color: red;
}

/** Recent Posts **/

.recent-posts-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recent-posts-section h2 {
  text-transform: uppercase;
  width: 100%;
}

.latest-news-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.latest-news-single {
  width: 25%;
}

.latest-news-single a {
  text-decoration: none;
  color: grey;
}

.latest-thumb-wrapper {
  // width: 98%;
}

/** Testimonials **/

.testimonials-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-section h2 {
  text-transform: uppercase;
  width: 100%;
}

.testimonial-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.indiv-testimonial {
  width: 50%;
  padding: 2rem;
  display:flex;
}

.indiv-testimonial img {
  height: 7rem;
  width: 7rem;
  padding: 1rem;
}

.testimonial-text {
  line-height: 1rem;
  flex: 1 1 60%;
}

.testimonial-text span {
  color: red;
}

.testimonial-text h3 {
  margin-bottom: 0.25rem;
}

.testimonial-text p {
  margin-top: 0.5rem;
}

.testimonial-one,
.testimonial-two {
  border-bottom: 1px dashed #d2d2d2;
}

.testimonial-one,
.testimonial-three {
  border-right: 1px dashed #d2d2d2;
}
