/*--------------------------------------------------------------
# Page Templates (Files in Template-Parts Folder that don't begin with content)
  product-category.php
  product-icons.php
  recent-posts.php
  home-testimonials.php
--------------------------------------------------------------*/

/** Product Category - for Front Page **/

.product-category-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-category-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.product-category-single {
  width: 25%;
  padding: 1.5rem;

     img {
        display: block;
        margin: 0 auto 1.5rem;
        width: 80%;
     }

      h3 {
       text-transform: uppercase;
       text-align: center;
     }

      a {
       text-decoration: none;
       color: $color__red-shade;
     }
}

/** Product Icons - for Product Archive Page **/

.product-icons-section {
  margin-top:1rem;
}

.product-details {
  padding: .75rem 1rem;
  display: flex;

     span p,
     span {
        display: block;
        margin: 0 auto;
    }
}

.product-title-single {
  width: 25%;
  padding: 1.5rem;

     img {
        display: block;
        margin: 0 auto 1.5rem;
        width: 80%;
     }

      h3 {
       text-transform: uppercase;
       text-align: center;
     }

      a {
       text-decoration: none;
       color: $color__brown;

       &:hover {
         text-decoration: underline;
       }

     }
}


/** Recent Posts - for Front Page **/

.recent-posts-section {
  display: flex;
  margin: 0 auto 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

     h2 {
        text-transform: uppercase;
        width: 100%;
    }
}

.latest-news-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.latest-news-single {
  width: 25%;
  border: 1px solid #e1e1e1;

    h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.75rem;
    }

    .entry-meta {
      margin-left: 0.75rem;
      margin-bottom: 1rem;
    }

   a {
      text-decoration: none;
      color: $color__med-grey;
      display:inline-block;
      width: 225px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;;
        color: $color__red-shade;
      }
   }
}

.latest-thumb-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      height: 270px;
      width: 270px;
      position: absolute;
    }
}

/** Testimonials - for Front Page **/

.testimonials-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

     h2 {
        text-transform: uppercase;
        width: 100%;
    }
}

.testimonial-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.indiv-testimonial {
  width: 50%;
  padding: 2rem;
  display:flex;

    img {
      height: 7rem;
      width: 7rem;
      padding: 1rem;
    }
}

.testimonial-text {
  line-height: 1rem;
  flex: 1 1 60%;

    span {
      color: $color__red-shade;
    }

    h3 {
      margin-bottom: 0.25rem;
    }

    p {
      margin-top: 0.5rem;
    }

}

.testimonial-one,
.testimonial-two {
  border-bottom: 1px dashed #d2d2d2;
}

.testimonial-one,
.testimonial-three {
  border-right: 1px dashed #d2d2d2;
}
