/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-area {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
}

.widget-title {
	text-transform: uppercase;
}

.widget ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.widget a {
	text-decoration: none;
	color: red;
}

.day-of-week {
	color: red;
	font-weight: bold;
}

.text-widget a {
	color: red;
}
