/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */

.widget_search .search-submit {
	display: none;
}

.widget-area {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
}

.widget-title {
	text-transform: uppercase;
}

.widget ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.widget a {
	text-decoration: none;
	color: $color__red-shade;
}

.day-of-week {
	color: $color__red-shade;
	font-weight: bold;
}

.textwidget a {
	color: $color__red-shade;
}

.textwidget i {
	margin-right: 1rem;
}

.textwidget p {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}

p .city {
	margin-left: 1.8rem;
	margin-top: 0;
}

.lrb_hours-class p {
	margin-bottom: 0.3rem;
	margin-top: 0.3rem;
}
